@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #4285f4;
  --text-primary: #495057;
  --text-secondary: #868e96;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
}
